
.icon-mail:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */